*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
.header{
    min-height: 200vh;
    width: 100%;
    background-image: url(../images/sea.gif);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center ;
}
nav img{
    width: 225px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.container{
    margin: 20px;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image{
    background: black;
    position: relative;
    flex: 1;
    width: 250px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}
.image img{
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}
.image:hover img{
    opacity: 1;
}
.image .content{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.image .content h3{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 150px;
    transition: 0.5s;
    opacity: 0;
    transition-property: transform;
}
.image .content h3 span{
    font-weight: 900;
}
.image:hover .content h3{
    background-color: black;
    opacity: 1;
    transform: translateY(-50px);
}
.image .content p{
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}
.image:hover .content p{
    background-color: black;
    opacity: 1;
    transform: translateY(-60px);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container2{
    max-width: 1170px;
    background-color: #0D80B6;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #0D80B6;
    padding: 70px 0;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 25px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: black;
    height: 2px;
    box-sizing: border-box;
    width: 120px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block ;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left:  8px;
}
.footer-col .social-links img{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    transition: all 0.5 ease;
    cursor: pointer;
}
.footer-col .social-links img:hover{
    transform: scale(1.25);
}

@media screen and (max-width: 800px){
    .header{
        min-height: 100vh;
        width: 100%;
        background-image: url(../images/sea.gif);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    nav{
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center ;
    }
    nav img{
        width: 125px;
    }
    .nav-links ul li a{
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    .row{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .image{
        background: black;
        position: relative;
        flex: 1;
        width: 50px;
        height: 150px;
        margin-left : 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .image img{
        opacity: 0.8;
        position: relative;
        vertical-align: top;
        width: 150px;
        height: 150px;
        transition: 0.6s;
        transition-property: opacity;
    }
    .image:hover img{
        opacity: 1;
    }
    .image .content{
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        color: whitesmoke;
        cursor: pointer;
    }
    .image .content h3{
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 75px;
        margin-bottom: 20px;
        transition: 0.5s;
        opacity: 0;
        transition-property: transform;
    }
    .image:hover .content h3{
        background-color: black;
        opacity: 1;
        transform: translateY(-50px);
    }
    .image .content p{
        margin-top: 15px;
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        opacity: 0;
        transition: 0.6s;
        transition-property: opacity, transform;
    }
    .image:hover .content p{
        background-color: black;
        opacity: 1;
        transform: translateY(-60px);
    }
    .container2{
        max-width: 500px;
        background-color: #0D80B6;
    }
    .container{
        max-width: 750px;
        background-color: none;
        margin: auto;
    }
    .footer{
        background-color: #0D80B6;
        padding: 35px 0;
    }
    .footer-col{
        width: 30%;
        padding: 0 15px;
        margin-left: 40px;
    }
    .footer-col h4{
        font-size: 18px;
        color: black;
        text-transform: capitalize;
        margin-bottom: 25px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: black;
        height: 2px;
        box-sizing: border-box;
        width: 100px;
    }
    .footer-col ul li a{
        font-size: 13px;
        text-transform: capitalize;
        color: white;
        text-decoration: none;
        font-weight: 300;
        color: black;
        display: block ;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: white;
        padding-left:  8px;
    }
    .footer-col .social-links img{
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 20px;
        transition: all 0.5 ease;
        cursor: pointer;
    }
    .footer-col .social-links img:hover{
        transform: translateY(-50%);
    }
}